<ng-container *ngIf="(details$ | async) && !(error$ | async)">
  <!--<pre>{{details$ | async | json}}</pre>-->
  <mat-card class="mb-2">
    <img class="app-responsive-details-item" [src]="(details$ | async)?.thumbnail">
    <div class="p-1 d-flex justify-content-between align-items-center">
      <div class="mt-2 h3 app-title">{{ (details$ | async)?.title }}</div>
      <div class="d-flex align-items-center">
        <div class="mr-2 event-hour">{{ (details$ | async)?.dueOn | date: 'dd/MM/yyy' }}</div>
        <div><mat-icon class="pt-1 event-hour">calendar_today</mat-icon></div>
      </div>
    </div>
    <div class="p-1 app-description">{{ (details$ | async)?.content }}</div>
  </mat-card>
</ng-container>

<ng-container *ngIf="error$ | async">
  {{ error$ | async }}
</ng-container>


